
h1 {
    text-align: center;
  }

.box {
    background: #06f6de;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px 20px;
    display: inline-block;
  
    &.dragging {
      background: coral;
    }
  }
  
  .dropzone {
    padding: 20px;
    margin: 20px 0;
    background: lightgray;
    min-height: 200px;
    border: 1px solid black;
  
    &.dropzone-activated {
      border: 1px solid red;
    }
  
    &.dropzone-entered {
      background-color: #efefef;
    }
  }
  
  